/* NAVBAR CODE START */

body {
    margin: 0;
    background-color: #0C1821;
    overflow-x: hidden;
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
}

#heading {
    font-family: Michroma, monospace;
    font-size: 26px;
    font-weight: 600;
    display: inline-block;
    width: 30%;
    padding: 8px;
    margin-top: 0.8em;
    margin-bottom: 0.67em;
    line-height: 1.1;
}

#url, #url > a{
    color: #3d3d3d;
}

#links, #links>ul>li>a {
    float: right;
    color: white;
    font-family: Michroma, monospace;
    text-decoration: none;
    font-size: 20px;
    padding: 16px;
}

#links>ul {
    margin: 0;
}

#links>ul>li {
    display: inline-block;
}

#links>ul>li>a:hover,#links>ul>li>a:focus {
    background-color: #4d4d4d;
    transition: 0.2s;
}

#hamburger-menu,#hamburger-menu>a {
    float: right;
    font-size: 48px;
    display: none;
    color: white;
    font-weight: 800;
    text-decoration: none;
    font-family: Michroma;
    padding-right: 8px;
    padding-top:4px;
    cursor: pointer;
}

#hamburger-menu-popup {
    display: none;
    width: 100%;
    min-height: calc(100vh - 90px);
    background-color: #111111;
    margin-top: 83px;
}

#hamburger-menu-popup>ul {
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px;
}

#hamburger-menu-popup>ul>li {
    display: block;
}

#hamburger-menu-popup>ul>li>a {
    width: 100%;
    display: inline-block;
    padding: 24px;
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family: Michroma, monospace;
}

#hamburger-menu-popup>ul>li>a:hover,#hamburger-menu-popup>ul>li>a:focus {
    background-color: #4d4d4d;
}

/* Make pranav.cl disappear in the navbar depending on screen sizes*/
@media (max-width: 1132px) {
    #heading {
        width: 20%;
    }

    #url {
        display: none;
    }
}

/* Make links disappear on smaller screens */
@media (max-width: 860px) {
    #heading {
        width: 70%;
    }

    #hamburger-menu, #hamburger-menu>a {
        display: inline-block;
    }

    #links {
        display: none;
    }
}

/* NAVBAR CODE END */

/* BANNER CODE START */

#banner {
    /*     background: linear-gradient(180deg,rgba(217, 217, 217, 1) 0%, rgb(158, 158, 158) 100%); */
    background: linear-gradient(180deg,rgba(217, 217, 217, 1) 0%, rgb(144, 146, 167) 100%);
    width: 100%;
    margin-top: 83px;
    min-height: 600px;
    font-family: Inter, Arial, Helvetica, sans-serif;
}

#banner-text {
    display: inline-block;
    width: 30%;
    padding-top: min(1vw, 40px);
    padding-left: min(8vw, 300px);
}

#banner-text>h1 {
    font-size: 72px;
}

#banner-text>span {
    display: block;
    font-size: 36px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#banner-text>a {
    display: block;
    text-align: center;
    text-decoration: none;
    transition: 0.2s;
    background-color: white;
    border: 4px solid black;
    color: black;
    padding: 12px;
    font-size: 20px;
    width: 90%;
    border-radius: 8px;
    margin-bottom: 16px;
    font-family: Rubik, Arial, Helvetica, sans-serif
}

#banner-text>a:hover, #banner-text>a:focus {
    transition:0.2s;
    color: white;
    background-color: black;
    border: 4px solid white;
    cursor: pointer
}

#banner-text>a:hover>img, #banner-text>a:focus>img {
    filter: invert(100%);
}

#banner-text>a:hover>#upwork-icon, #banner-text>a:focus>#upwork-icon {
    filter: invert(0%);
    content: url("images/upwork-2.png");
}

#banner-text>a>img {
    max-width: 32px;
    max-height: 32px;
    vertical-align: middle;
    margin-right: 8px;
}

#picture-div {
    float: right;
    padding-right: 120px;
    padding-top: 60px;
    padding-bottom: 20px;
}

#picture-div>img {
    border-radius: 50%;
    max-width: 500px;
    max-height: 500px;
    border: 8px solid white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

@media (max-width: 1230px) {
    #picture-div {
        padding-right: 40px;
    }

    #picture-div>img {
        max-width: 400px;
        max-height: 400px;
    }

    #banner-text {
        padding-left: 20px;
        padding-top: 0px;
        width: 40%;
    }
}

@media (max-width: 816px) {
    #banner-text {
        width: 90%;
        display: block;
    }

    #picture-div {
        display: block;
        margin: 0 auto;
        float: none;
        text-align: center;
        margin-left: 4%; 
    }

    #banner {
        min-height: 825px;
    }

    #banner-text>a {
        width: 100%;
    }
}

@media (max-width: 780px) {
    #banner-text>h1 {
        font-size: 56px;
    }
}

@media (max-width: 463px) {
    #picture-div > img {
        max-width: 80%;
        max-height: 80%;
        display: block;
        margin: 0 auto;
        float: none;
        text-align: center;
        margin-right: 5%;
    }
}

/* BANNER CODE END */

/* ABOUT ME SECTION START */

#skills, #certs, #other, #projects, #about-me {
    color: #eeeeee;
    width: 100%;
}

h2 {
    font-family: Michroma, monospace;
    font-size: 48px;
    margin: 0px;
}

#about-me>h2 {
    color: white;
    background-color: #FB4B4E;
}

mark {
    font-weight: 800;
}

#about-me>p {
    font-family: Inter, Arial, Helvetica, sans-serif;
    line-height: 56px;
    font-size: 30px;
    width: 80%;
    margin: auto;
    padding: 32px;
}

#para1 > mark {
    background-color: #fffca3;
}

#para2 > mark {
    background-color: #a9ffa9;
}

#para3 > mark {
    background-color: #a8d0ff;
}

/* ABOUT ME SECTION END */

/* PROJECTS SECTION START */

#projects>h2 {
    text-align: right;
    color: #111111;
    background-color: #E39EC1;
}

#project-cards,#other-cards {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 2vw;
}

.card {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    border: 1px solid white;
    border-radius: 16px;
    max-width:400px;
    background-color: #eeeeee;
    transition: 0.2s;
    text-decoration: none;
    height: 433px;
}

.card:hover,.other-card:hover, .card:focus, .other-card:focus {
    box-shadow: 0 0 16px 0 #ffffff;
    transition: 0.2s;
    cursor: pointer;
}

.card:focus, .other-card:focus {
    box-shadow: 0 0 32px 0 #ffffff;
    transition: 0.2s;
    cursor: pointer;
}

.card>img,.other-card>img {
    width:100%;
}

.card>.heading,.other-card>.heading {
    color: black;
    font-size: 16px;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-weight: 800;
    padding: 12px;
    white-space: normal;
    word-break: break-word; 
}

.card>.stack {
    background-color: black;
    color: white;
    font-family: Inter, Arial, Helvetica, sans-serif;
    padding: 12px;
}

/* PROJECTS SECTION END */

/* SKILLS SECTION START */

#skills>h2 {
    color: #111111;
    background-color: #50FFB1;
}

#skills>h3 {
    color: #eeeeee;
    font-family: Rubik, Arial, Helvetica, sans-serif;
    font-size: 36px;
    text-align: center;
}

.skills-cards {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 30px;
}

.skills-card {
    font-size: 20px;
    color: white;
    font-family: Rubik, Arial, Helvetica, sans-serif;
    display: inline-block;
    padding-right: 20px;
}

.skills-image {
    max-width: 150px;
}

/* SKILLS SECTION END */

/* CERTS SECTION START */

.certs-card {
    font-size: 20px;
    color: white;
    font-family: Rubik, Arial, Helvetica, sans-serif;
    display: inline-block;
    padding: 20px;
    max-width: 300px;
    text-align: center;
    cursor: pointer;
}

.certs-image {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}

#certs>h2 {
    text-align: right;
    color: #eeeeee;
    background-color: #3066BE;
}

/* CERTS SECTION END */

/* OTHERS SECTION START */

.other-card {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    border: 1px solid white;
    border-radius: 16px;
    max-width:400px;
    background-color: #eeeeee;
    transition: 0.2s;
    height: 383px;
    text-decoration: none;
}

#other>h2 {
    color: #111111;
    background-color: #F3C677;
}

/* OTHERS SECTION END */

footer, footer>a {
    color: #eeeeee;
}

footer {
    font-family: Michroma, monospace;
    font-size: 36px;
    background-color: #111111;
}
